@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Mochiy+Pop+One&family=Roboto:wght@300&family=Sofia+Sans+Extra+Condensed:wght@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Mochiy+Pop+One&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;1,100&family=Sofia+Sans+Extra+Condensed:wght@1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.spliter{
  clear: both;
  height: 90px;
}
body{
  background: #000;
  height: 100%;
}
h1,h4,p,a,h3{
  color: white;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.btn {

  padding: 12px 32px;  
  font-size: 1rem;
  text-transform: uppercase;
  background:  rgb(248, 217, 15);
  color: #222; border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
  }
  .bt-light{
    background: transparent;
    color: white;
  }
  .btn:hover{
    background: rgba(255,255,255,0.2);
    color:#fff;
    transition: 0.3s;
  }